<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      cuentas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>

  <hr>

  
    
  <ion-list>
    <ion-item *ngFor="let cuenta of cuentas">
      
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{cuenta.nombre}}</ion-card-subtitle>
          <ion-card-title>{{cuenta.numero}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Saldo: ${{cuenta.saldo}}
        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>
 
    
  

  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
